<style>
body{ background:#d5dbd2!important;}
</style>

<header class="main-header">

  <a  ui-sref="dashboard" class="logo">
    <span class="logo-mini" style="background:#d5dbd2;">
      <img src="images/minlogo2.png" alt="#" style="width:70%; display:block; margin:16px auto;">
    </span>
    <span class="logo-lg">
      <img src="images/logo1.png" alt="#">
    </span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="tohome">
      <a href="javascript:void(0);" ui-sref="index">
        <span><img src="images/home_iconadmin.png" alt="#"> 710mny.com</span>
      </a>
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu user-manu-dropdown"  ng-click="toggledropdown()">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <img src="images/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">{{userfullname}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>{{userfullname}}</p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <a href="javascript:void(0)" ng-click="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div id="mydiv" ng-show='stateIsLoading'></div>