<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{userfullname}}</p>
                <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li>
                <a ui-sref="dashboard"><i class="fa fa-link"></i> <span>Dashboard</span></a>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Admin Manager</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu left_treemenu">
                    <li><a style="background:#9c0404!important;" ui-sref="add-admin">Add Admin</a></li>
                    <li><a style="background:#9c0404!important;" ui-sref="admin-list">Admin List</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Role Manager</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu left_treemenu">
                    <li><a style="background:#9c0404!important;" ui-sref="add-role">Add Role</a></li>
                    <li><a style="background:#9c0404!important;" ui-sref="role-list">Role List</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Document Category</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu left_treemenu">
                    <li><a ui-sref="adddocumentcategory">Add Document Category</a></li>
                    <li><a ui-sref="documentcategorylist">Document Category List</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Document Manager</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu left_treemenu">
                    <li><a ui-sref="adddocument">Add Document</a></li>
                    <li><a ui-sref="documentlist">Document List</a></li>
                    <li><a ui-sref=" categoryfolderview({id:0})">Category Folderview</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>