<div class="container-fluid event_top_block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="event_bannersloderbox">
        <div class="event_bannerbg"><!--<img src="images/event_banner.png" alt="#">--><content name='contactmainbanner163' id='163' > </content></div>
        <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
        <div class="logo"> <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a> </div>
        
        
        
   <!--     <img src="images/contactustext.png" alt="#" class="contact_bannertext"> <img src="images/events_banner_drone.png" alt="#" class="event_bannerdrone">-->
        
          <div class="contact_bannertextedit"><content name='contactusbannertextedit164' id='164' > </content></div>

 <div class="event_bannerdroneedit"><content name='contactusbannerdroneedit165' id='165' > </content></div>
        
        
        </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="container-fluid contact_body_container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contacttop_heading">
    
    
      <h2>
      <content name='contacttext1166' id='166' > </content>
      <!--<span>JUNGLE</span> DRONES-->
      
      </h2>
      <content name='contacttext2167' id='167' > </content>
      
     <!-- <label>#16 Hudson and Eyre St.</label>
      <label> Belize City, Belize</label>
      <label>Central America</label>
      <label>Phone: (555)555-5555</label>-->
    </div>
    <div class="container-fluid contact_mainbody">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 contactleft">
          <div class="contact_left_top_block1"> <img src="images/contacticon1.png"  alt="#"/> <img src="images/contacticon2.png"  alt="#"/> <img src="images/contacticon3.png"  alt="#"/> </div>
          <div class="contact_left_top_block2"> 
          
         <!-- <img src="images/contactimg1.png"  alt=""/>-->
          <content name='contactaddressimg1168' id='168' > </content>
          
            <p> 
            <content name='contactaddresstext169' id='169' > </content>
          <!--  <strong>Quick facts</strong><br />
              <br />
              Belize City is the largest city in the Central American country of Belize and was once the capital of the former British Honduras. According to the 2010 census, Belize City has a population of 57,169 people in 16,162 households.Wikipedia<br />
              <br />
              Population: 57,169 (2010)<br />
              Elevation: 0'<br />
              Area: 13.77 mi -->
              
              
              
              
              </p>
              
              
              
              
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 contactright">
          <div class="contactmapblock">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60880.6208148637!2d-88.248302801429!3d17.505661137123326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5c584b483377cf%3A0xe1dbdc6e9012ff22!2sBelize+City%2C+Belize!5e0!3m2!1sen!2sin!4v1456211820837"  frameborder="0" style="border:0" ></iframe>
          </div>
          <div class="contactform">
            <div class="contactformtop">
              <h2>Contact Us</h2>
            </div>
            <div class="contactform_wrapper">
              <form angular-validator-submit="contactFormsubmit()"  name="contactForm"   novalidate angular-validator>
                <div class="formgroup1">
                  <label>Name</label>
                  <input type="text" class="forminput1 form-control"  name="name1"               validate-on="blur"               ng-model="form.name"               required-message="'Name can not be blank.'"               required                >
                  <div class="clear"></div>
                </div>
                <div class="formgroup2">
                  <label>Email </label>
                  <input type="email" class="forminput1 form-control" name="email"                 ng-model="form.email"                 required-message="'Email can not be blank.'"                 invalid-message="'Enter valid email address.'"                 required                  >
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="formgroup1">
                  <label>Subject </label>
                  <input type="text" class="forminput1 form-control" name="subject"                  ng-model="form.subject"                  required-message="'Subject can not be blank.'"                  required                   >
                  <div class="clear"></div>
                </div>
                <div class="formgroup2">
                  <label>Phone No </label>
                  <input type="text" class="forminput1 form-control" name="phone"                  ng-model="form.phone"                  required-message="'Phone number can not be blank.'"                  required                   >
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="formgroup3">
                  <label>Message</label>
                  <textarea class="forminput2" name="message"              ng-model="form.message"              required-message="'Message can not be blank'"              required            ></textarea>
                  <div class="clear"></div>
                </div>
                <input type="submit" value="Submit" class="subbtn" />
                <div class="clear"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
