
<div class="login-box">

<div class="login-boxwrapper">
      <div class="login-logo">
          <img src="images/logo1.png" alt="#" style="display:block; width:96%; margin:0 auto; margin-top:30px;">
      </div><!-- /.login-logo -->
      <div class="login-box-body">
      <img src="images/newlockicon.png" alt="#" style="display:block; margin:0 auto;">
        <p class="login-box-msg" style=" font-size:22px;">Forgot Password</p>
          <form angular-validator-submit="forgotpasssubmit()"  name="loginForm"  class="form-horizontal" novalidate angular-validator>
              <div ng-show="errormsg" class="alert alert-danger alert-dismissible">{{errormsg}}</div>
          <div class="form-group has-feedback" style="margin-left:0; margin-right:0">
            <input type="email" class="form-control" placeholder="Email" style="font-family:Arial, Helvetica, sans-serif;" name="email"
                   ng-model="form.email"
                   required-message="'Email can not be blank.'"
                   invalid-message="'Enter valid email address.'"
                   required

                    >
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="row">
            <!-- /.col -->
            <div class="col-xs-12" style="padding-top:0px; margin-top:0px;">
              <button type="submit" class="btn btn-primary btn-block btn-flat loginbtn">Submit</button>
            </div><!-- /.col -->
          </div>
        </form>


      </div><!-- /.login-box-body -->
    </div>

   </div>