<div class="container-fluid top_slider_block">
  <div class=row>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class=bannersloderbox>
        <div id=myCarousel class="carousel slide"ng-non-bindable data-ride=carousel>
          <div class=carousel-inner role=listbox>
            <div class="item active">
              <img src=images/slider1.png alt=slider>
            </div>
            <div class=item>
              <img src=images/slider2.png alt=slider>
            </div>
            <div class=item>
              <img src=images/slider3.png alt=slider>
            </div>
            <div class=item>
              <img src=images/slider4.png alt=slider>
            </div>
            <div class=item>
              <img src=images/slider5.png alt=slider>
            </div>
          </div>
          <div class=carouselindicators>
            <ol class=carousel-indicators>
              <li data-target=#myCarousel data-slide-to=0 class=active>
              <li data-target=#myCarousel data-slide-to=1>
              <li data-target=#myCarousel data-slide-to=2>
              <li data-target=#myCarousel data-slide-to=3>
              <li data-target=#myCarousel data-slide-to=4>
            </ol>
          </div>
        </div>
        <div class=bannerbgwhite>
          <img src=images/whitebg.png alt=#>
        </div>
        <div class=bannerbgred>
          <img src=images/redbg.png alt=#>
        </div>
        <div class=logo>
          <a href=javascript:void(0)>
            <img src=images/logo.png alt=#>
          </a>
        </div>
        <img src=images/topbannertext.png alt=# class=bannertext>
      </div>
    </div>
  </div>
</div>
<div class="container containblock1">
  <div class=row>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="textblock1 part1">
        <h2>JUNGLE DRONES INVITES YOU!</h2>
        <label>Take Action Now and Live Elevated</label>
      </div>
      <img src=images/img2.png class=img1>
      <div class="textblock2 part2">
        <h2>Drone Racing</h2>
        <p>In the past few years drone racing has become a very popular pastime for many people. Jungle Drones has put together a variety of drone racing events in Belize and will soon offer drone racing in other markets. Sign up for our racing program today and stay informed of all upcoming races.</p>
        <a ui-sref=droneracing class=viewlink>
          <img src=images/viewmore.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
      <div class="textblock2 part3">
        <h2>Aerial Photography/Videography</h2>
        <p>We provide professional contracted video and photography services for events, real estate, agriculture, security, inspections, concerts, tourism and more. Let our expert pilots get you the perfect footage for your needs at extremely competitive pricing.</p>
        <a ui-sref=services class=viewlink>
          <img src=images/viewmore.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
      <div class="textblock2 part4">
        <h2>Drone Rentals</h2>
        <p>There are times you may need a drone for a project but aren't quite ready to purchase one. Or perhaps you would like to try piloting a drone before making the investment in buying one for yourself. We are proud to offer top quality, well maintained drones for rent on a daily or weekly basis.</p>
        <a ui-sref=services class=viewlink>
          <img src=images/viewmore.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
      <div class="textblock2 part5">
        <h2>Drone Sales</h2>
        <p>Jungle Drones is proud to offer a variety of small and medium drone sales We have spent years testing various drones and manufacturers, looking for the absolute highest quality We are proud to offer a variety of products that are affordable, durable and reliable in the long term.</p>
        <a ui-sref=product class=viewlink>
          <img src=images/buynow.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
      <div class="textblock2 part6">
        <h2>Specialized Media</h2>
        <p>Our pilots are constantly flying and filming and building our library of stock photos and video. Beautiful sweeping landscapes, scenes of mayan ruins, gorgeous beaches, city skylines and more. our stock media makes an excellent addition to promotional and commercial videos and more.</p>
        <a ui-sref=stock-photo class=viewlink>
          <img src=images/buynow.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
      <div class="textblock2 part7">
        <h2>3D Mapping</h2>
        <p>With a drone or UAV you can capture highly accurate images of your fields, covering up to hundreds of hectares/acres in a single flight. Without the cost and hassle of manned services. At a far greater resolution than satellite imagery provides, even when there is cloud cover.</p>
        <a ui-sref=services class=viewlink>
          <img src=images/viewmore.png alt=#>
        </a>
        <div class=clearfix></div>
      </div>
    </div>
  </div>
</div>
<div class=newbannerblock>
  <img src=images/homenewbanner.png alt=# class=bannerimg>
  <div class=bannernewtext>
    <img alt=# src=images/logo.png class=bannerlogo>
    <h2>CAPTURE THE MOMENT. REPLAY THE MEMORY.</h2>
    <p>Our passion is capturing great moments. Find out the incredible opportunities that we have for the Multi-Billion Dollar Tourism Industry!</p>
    <a ui-sref=tourism class=viewlinknew>Learn More&nbsp;&nbsp;<img alt=# src=images/banner_2_arrow.png width=10 style=display:inline-block;margin-top:-3px></a>
  </div>
</div>
<div class="container-fluid containblock2">
  <div class=row>
    <div class=container>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class=textcon>
          <h2>Located in beautiful Belize City Belize</h2>
          <h3>Jungle drones offers</h3>
          <p>the full spectrum of drone sales and services. Over the past few years the popularity of drones has skyrocketed. Jungle Drones has been there from the beginning and our experts are ready to help you with your needs including professional aerial video/photography, drone sales, drone rentals, agricultural 3d and survey mapping and package delivery. The Jungle drones team has also assembled a wide assortment of aerial stock photography and video clips for use in a variety of uses from sales, promotion, real estate, travel and more. We also organize and facilitate a variety of world class drone racing events.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class=videoblog>
          <div class=videoWrapper>
            <iframe width=560 height=349 src="http://www.youtube.com/embed/0dcwnWrYaI8?rel=0"frameborder=0 allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class=clearfix></div>
    </div>
  </div>
</div>
<div class="container-fluid containblock3">
  <div class=row>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 partblock1">
      <img src=images/img3.png alt=# class=partimg1>
      <div class=textcondiv>
        <label class=parttext1><span>2.4</span> GHZ RC SERIES</label>
        <label class=parttext2>EASY TO CONTROL</label>
      </div>
      <img src=images/img4.png alt=# class=partimg2>
      <img src=images/bg2.png alt=# class=bgimg1>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 partblock2">
      <div class=formmain ng-controller=index>
        <form angular-validator-submit=signupFormsubmit() name=signupForm novalidate angular-validator>
          <div class=formblock>
            <h2>Member Signup</h2>
            <p style="font-size:16px;line-height:20px;text-align:left;padding:15px 0 0 0;margin:0;color:#fff">Jungle Drone offers its members complete access to exclusive Drone events and experiences in Belize.</p>
            <div class=formwrapper>
              <div class=form-group>
                <label class=labeltext1>First Name</label>
                <input class="input1 form-control"id=contact_fname name=fname ng-model=form.fname required-message="'First name can not be blank.'"required>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext1>Last Name</label>
                <input class="input1 form-control"name=lname ng-model=form.lname required-message="'Last name can not be blank.'"required>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext1>Email</label>
                <input type=email class="input1 form-control"name=email ng-model=form.email required-message="'Email can not be blank.'"invalid-message="'Enter valid email address.'"required>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext1>Telephone No</label>
                <input class="input1 form-control"name=phone ng-model=form.phone required-message="'Telephone number can not be blank.'"required>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext1>Country</label>
                <select id=country name=country class="input1 form-control"validate-on=blur ng-model=form.country required-message="'Select your country.'"required ng-options="item.s_name for item in countrylist"style="background:#fff none repeat scroll 0 0!important;padding:0!important">
                  <option value=""style=padding-left:5px>SELECT YOUR COUNTRY</option>
                </select>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext1>City</label>
                <input class="input1 form-control"name=city ng-model=form.city required-message="'City can not be blank'"required>
                <div class=clearfix></div>
              </div>
              <div class=form-group style=margin-bottom:0>
                <label class=labeltext1>Gender</label>
                <div class=radiobox>
                  <section>
                    <label>Male</label>
                    <input type=radio name=gender value=male ng-model=form.gender validator="genderValidator() === true"invalid-message=genderValidator()>
                  </section>
                  <section>
                    <label>Female</label>
                    <input type=radio name=gender value=female ng-model=form.gender validator="genderValidator() === true"invalid-message=genderValidator()>
                  </section>
                  <span class="clearfix validationMessage"ng-show=" gender_error">Please select gender !!</span>
                  <div class=clearfix></div>
                  <div class=clearfix></div>
                </div>
                <div class=clearfix></div>
              </div>
              <div class=form-group style=margin-bottom:0>
                <label class=labeltext1>Do Own a Drone?</label>
                <div class=radiobox>
                  <section>
                    <label>Yes</label>
                    <input type=radio value=yes name=drone ng-model=form.drone validator="droneValidator() === true"invalid-message=droneValidator()>
                  </section>
                  <section>
                    <label>No</label>
                    <input type=radio value=no name=drone ng-model=form.drone validator="droneValidator() === true"invalid-message=droneValidator(form.drone)>
                  </section>
                  <span class="clearfix validationMessage"ng-show=" drone_error">Please select atleast one option !!</span>
                  <div class=clearfix></div>
                </div>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class="labeltext1 labeltext-line">Have you ever been to a Drone Race?</label>
                <div class=radiobox>
                  <section>
                    <label>Yes</label>
                    <input type=radio name=dron_race value=yes ng-model=form.dron_race validator="dronraceeValidator() === true"invalid-message=dronraceeValidator(form.drone)>
                  </section>
                  <section>
                    <label>No</label>
                    <input type=radio name=dron_race value=no ng-model=form.dron_race validator="dronraceeValidator() === true"invalid-message=dronraceeValidator(form.drone)>
                  </section>
                  <span class="clearfix validationMessage"ng-show=" dronerace_error">Please select atleast one option!!</span>
                  <div class=clearfix></div>
                </div>
                <div class=clearfix></div>
              </div>
              <div class=form-group>
                <label class=labeltext2>Your Message</label>
                <textarea class=input2 name=message ng-model=form.message required-message="'Message can not be blank'"required></textarea>
                <div class=clearfix></div>
              </div>
            </div>
          </div>
          <div class=row>
            <div class=col-xs-12>
              <button type=submit class="btn subbtn">Get involved now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 partblock3">
      <img src=images/img5.png alt=# class=partimg5>
      <div class=textcondiv2>
        <label class=parttext1><strong>NO.</strong> H107D<span>+</span></label>
        <label class=parttext2>EASY TO CONTROL</label>
      </div>
      <img src=images/img6.png alt=# class=partimg6>
      <img src=images/bg2.png alt=# class=bgimg1>
    </div>
    <div class=clearfix></div>
  </div>
</div>
<div class="container-fluid containblock4">
  <div class=row>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block4part1">
      <img src=images/bg3.png alt=# class=block4part1img>
      <div class=block4part1text>
        <h2>GET YOUR ADDRENELINE GONG AT A LIVE EVENT!</h2>
        <h3>These Drones fly so fast it will shock you!</h3>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block4part2">
      <img src=images/bg4.png alt=# class=part2bg>
      <img src=images/img7.png alt=# class=part2img>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block4part3">
      <h2>Don't Miss Out on the Excitement!</h2>
      <div class=part3text>
        <div class=h6text>
          <a ui-sref=event>
            <h6><strong>RSVP</strong> <span>for one of our incredible events today</span></h6>
          </a>
        </div>
      </div>
    </div>
    <div class=clearfix></div>
  </div>
</div>
<div class="container-fluid containblock5">
  <div class=row>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block5part1">
      <h2>Take your Drone Experience to New Heights. Catch the Drone fever; can your Drone handle the speed? the distance? the height? Prove it at our next Drone Race!</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block5part2">
      <img src=images/star.png alt=# style="display:block;margin:0 auto;position:relative;z-index:9">
      <div class=part2textdiv>
        <h6><span>Ready. Set. FLY! </span></h6>
      </div>
      <div class=part2textmenu>Built For Speed. Built For Durability. Built For Quality. The only surprise is the price.</div>
      <h4>Lose a hobby and gain a passion with one of our state of the art professional Drones now.</h4>
      <div class=container-fluid>
        <div class=col-xs-12>
          <div class=well>
            <div id=myCarousel1 class="carousel slide"ng-non-bindable data-ride=carousel>
              <div class=carousel-inner>
                <div class="item active">
                  <div class=row>
                    <div class=col-xs-3>
                      <img src=images/image1.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image2.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image3.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image4.png alt=Image class=img-responsive>
                    </div>
                  </div>
                </div>
                <div class=item>
                  <div class=row>
                    <div class=col-xs-3>
                      <img src=images/image5.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image6.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image7.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image8.png alt=Image class=img-responsive>
                    </div>
                  </div>
                </div>
                <div class=item>
                  <div class=row>
                    <div class=col-xs-3>
                      <img src=images/image9.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image3.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image1.png alt=Image class=img-responsive>
                    </div>
                    <div class=col-xs-3>
                      <img src=images/image2.png alt=Image class=img-responsive>
                    </div>
                  </div>
                </div>
              </div>
              <a id=cprev ng-click=carouselprev() class="left carousel-control cc"href=#myCarousel1 data-slide=prev>&#10094; </a>
              <a id=cnext ng-click=carouselnext() class="right carousel-control cc"href=#myCarousel1 data-slide=next>&#10095;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=clearfix></div>
  </div>
</div>