<!--<div  class="admincontain"><img src="images/backend-dashboard.png" alt="#" style="width:100%;"> </div>-->

<div  class="admincontain">

<h2>Plans:</h2>

  <div class="container myaccountplanblock">
  
  <div class="myaccountplanblock_heading">Personal Information</div>
  
    <div class="myaccountplanblock_textblock">
    
      <div class="my_textblock_wrapper">
    <!--<p>You have no active image subscription.</p>-->
        <p><label>Name : </label>  <span>{{userdetails.name}}</span></p>

        <p><label>Email Address : </label>   <span>{{userdetails.email}}</span></p>
        <p><label>Phone Number : </label>    <span>{{userdetails.phone_no}}</span></p>
        <p><label>Mobile Number : </label>   <span>{{userdetails.mobile_no}}</span></p>
        <p><label>Address : </label>         <span>{{userdetails.address}}</span></p>

    <div class="maviewlink"><a href="javascript:void(0)" ui-sref="editprofile">EDIT</a></div>
    
     </div>
    
    </div>
  
  
  </div>
  <div class="container myaccountplanblock">
  
  <div class="myaccountplanblock_heading">Image Subscription</div>
  
    <div class="myaccountplanblock_textblock">
    
      <div class="my_textblock_wrapper">
    <p>You have no active image subscription.</p>
    
    <div class="maviewlink"><a href="javascript:void(0)" >View Plans and Pricing</a></div>
    
     </div>
    
    </div>
  
  
  </div>
  <div class="container myaccountplanblock">
  
  <div class="myaccountplanblock_heading">Image Subscription</div>
  
    <div class="myaccountplanblock_textblock">
    
      <div class="my_textblock_wrapper">
    <p>You have no active image subscription.</p>
    
    <div class="maviewlink"><a href="javascript:void(0)" >View Plans and Pricing</a></div>
    
     </div>
    
    </div>
  
  
  </div>
  
  
  
  

</div>




