<div class="container-fluid event_top_block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="event_bannersloderbox">


<div class="event_bannerbg"><img src="images/package_banner.png" alt="#"></div>

<div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
<div class="logo">
 <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
 </div>

<img src="images/packageheading.png" alt="#" class="contact_bannertext">

    <img src="images/events_banner_drone.png" alt="#" class="event_bannerdrone">

</div>

</div>
</div>
</div>

 <div class="clear"></div>
 

 
 
 <div class="container contact_body_container">
 
   <div class="row">
   
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
   <div class="packagetextcon">
   
    <div class="services_heading_pd">
        <div class="head_content_new">
        <h3>   <content name="packagedeliverycontent122" id="22"></content></h3>

           <!-- <label><h3>Drone Delivery: <span>By The Numbers</span></h3></label>-->
<!--
            <label><h3 class="heading_class"> <content name="packagedeliverycontent122" id="22"></content>: <span><content name="packagedeliverycontent223" id="23"></content></span></h3></label>
-->


        </div>

    </div>

    
   <P>

       <content name="packagedeliveryconten324" id="24">   </content>
<!--
   What do medicine, batteries, and forgotten anniversary gifts have in common? They are the most likely items consumers will want delivered by drone once that service is available. At least, that's the verdict from the consumers I surveyed in August and September of this year. In my post <a href="http://droneanalyst.com/2014/08/24/drone-delivery-how-much/" target="_blank">Drone Delivery: How Much Would You Pay?</a>, I ran a poll with three simple questions:
-->

   </P>
   
   
   <div class="pdiv1">
   
   
   <div class="ptext1"><p>
       <content name="packagedeliveryconten425" id="25">   </content>

<!--

       1. What's the maximum amount you would be willing to pay for a package delivered by drone?<br />

2. Which of ten items would you want delivered in 30 minutes?<br />

3. Under what circumstance would you need something so quickly that you'd pay top dollar for it?
-->

   </p>
</div>

       <content name="pakagedeliveryimage1156" id="56">   </content>
<!--<img src="images/pd_img1.png" alt="#">-->

<div class="clear"></div>

   
   </div>
   


<content name="packagedeliverybgimage1371" id="71">   </content>
<!--<img src="images/newdronebanner.png" alt="#" class="newdronebanner">-->
       <content name="packagedeliveryconten528" id="28">   </content>
<!--
<h5>These are the topline results</h5>
<h6>You can see the companion SlideShare presentation with more complete graphs and charts of the data here</h6>
-->

 <div class="pdiv2">
 
 <p>
     <content name="packagedeliveryconten636" id="36">   </content>
<!--
     The max you'd pay? First, I wanted some base data on how much people would pay for drone delivery. So, I asked if consumers were willing to pay for the service and whether they wanted to pay a flat fee or a percentage of the price of their purchased items. More than three-quarters of respondents (82%) told us they would be willing to pay (vs. 18% who said they wouldn't), and the largest majority of those who'd pay (62%) said they would prefer paying a percentage of the item's purchase price (vs. 18% who said they would rather pay a flat fee). When we asked those who were willing to pay for the service how much they would be willing to pay, we saw big differences in preference. For instance, as I mentioned, only 18% of respondents said they'd prefer a flat fee, and 80% of those people said they wouldn't pay more than US $50 for delivery. That's not a lot more than express overnight delivery fees. I doubt these consumers will be using fixed charge drone delivery services.<br />
<br />


For those respondents who indicated they'd pay a percentage of an item's price, more than half (51%) said they would pay up to 10% of an item's purchase price. Most of the rest (43%) said up to 20%, and only 6% said up to 30%. It seems that a percentage charge could leave a delivery service with losses if the delivered items aren't high priced. <br />
<br />

<strong>Items you'd want delivered?</strong>  Second, I was curious to know what items consumers would likely purchase and want delivered by drone. I reviewed <a target="_blank" href="http://www.marketingprofs.com/charts/2013/12195/online-shopping-trends-most-popular-categories-top-purchase-drivers">online shopping trends</a> to find most popular product categories and top purchase drivers - keeping in mind the items had to fit the following drone delivery requirements:
-->

</p>

<ul class="pdli1">
    <content name="packagedeliveryconten742" id="42">   </content>

<!--

<li>The order must be small enough to fit in the drone's cargo box</li>
<li>The items must weigh less than 5 lbs.</li>
-->

</ul>


 
 </div>
 <div class="pdiv3">
     <content name="packagedeliveryconten843" id="43">   </content>
<!--
     There were clear winners and losers in the list of items consumers would want delivered in 30 minutes or less (see Figure 1).
-->
 </div>
 
 
 <div class="pdiv4_wrapper">
  <div class="pdiv4_text1">
      <content name="packagedeliveryconten945" id="45">   </content>
      <!--<h4><span>FIGURE 1</span> - Which of 10 Items Would You Want Delivered in 30 Minutes?</h4>-->

  </div>
 
 
 <img src="images/pd_img3.png" alt="#" class="pd_img3">
 
 <span class="newspantext1">
   <content name="packagedeliveryconten1046" id="46">   </content>
     <!--Source: Drone Analyst-->
 </span>
 
 
 <p>
     <content name="packagedeliveryconten1147" id="47">   </content>
<!--     Respondents could choose as many items as applies. Nearly three-quarters (72%) would use drone delivery to have a gift delivered. Over half (57%) chose electronics. Food and medicine were next highest on the list at 45% and 38%, respectively. Batteries were the most mentioned item in the 'other' category.<br />

Food may not be a good candidate for drone delivery. Whether from the supermarket, mini-mart, fast food joint, or other restaurant, food is generally very inexpensive per pound.
<br />
<br />

Circumstances under which you'd pay top delivery dollar? - Third, I wanted to know under what circumstances consumers would need something so quickly that they'd pay top dollar to have it delivered quickly. I looked at the same online shopping trends noted above for the most popular categories and top purchase drivers. Results appear in Figure 2.-->
 </p>
 
 
 
 </div>
 
  <div class="pdiv4_wrapper">
  <div class="pdiv4_text1"><h4 style="line-height:30px;">
      <content name="packagedeliveryconten1253" id="53"></content>
      <!--<span>FIGURE 2</span> - Under what circumstance would you need something so quickly that you'd pay top dollar for it?-->
  </h4> </div>
  <img src="images/pd_img4.png" alt="#" class="pd_img3">
  
   <span class="newspantext1">
<content name="packagedeliveryconten1354" id="54"></content>

      <!-- Source: Drone Analyst-->
   </span>
   
   <!--<p>You can see that respondents picked 'emergencies' at 66% and 'in trouble / need it quick' at 64% as the most likely circumstances that would trigger the use of a drone delivery service. An 'emergency' is a subjective term that can mean just about anything, including the third most likely circumstance of a last minute anniversary or birthday gift - especially if you are desperate and have forgotten it. Bottom line - From this small study I see three interesting insights:<br />
<br />
1. For the most part, consumers are willing to use a drone delivery service, but price matters.<br />

2. Consumers are not willing to pay more than 30% of the item's value for that delivery - most no more than 20%.<br />

3. Electronics given as gifts will likely be the most ordered items.<br />

4. Consumers consider medicine and batteries important and urgent enough for drone delivery.<br />
<br />


  <img src="images/pd_img5.png" alt="#" class="pd_img5">
Here's a simple example based on the data gathered: A consumer camera is ordered as a last minute gift and needs to be delivered in 30 minutes or less. <br />The <a href="http://www.trustedreviews.com/top-ten-cameras_round-up" target="_blank">best enthusiast compact camera</a> in 2014 is the Sony 
DSC-RX100M II Cyber-Shot Digital Still Camera. Its shipping weight is 3 pounds. <br />
At the date of this post, it lists <a href="http://www.amazon.com/Sony-DSC-RX100M-Cyber-shot-Digital-Camera/dp/B00DM8R866/" target="_blank">on Amazon</a> for about US $650. If the drone delivery service charges 20%, then the extra cost will be US $130.  If the drone delivery service charges 30%, then the extra cost would be US $195.  Keep in mind this is an example only.  We do not know how much Amazon Prime Air will charge for this or any other items - nor do we know what items actually qualify for the service.  Regular Amazon Prime users know already that not all items qualify for its two-day delivery service since they ship from contracted suppliers.  However, for comparative purposes today, if you were to order this item for U.S. overnight delivery to the West Coast, the charge would be approximately $34.
<br />
<br />


I believe drone delivery is best suited to high value, lightweight merchandise, including some items at Walgreens, CVS, or Rite-Aid, and a meaningful portion of the merchandise at many other large retailers. In addition to consumer products delivered to households, drones can provide fast and cost-effective deliveries to remote, hazardous, or hard-to reach areas. Other applications for drone delivery include:

</p>-->



      <!--<content  name = "asdasd12"></content>
      <content  name = "dfdsf13"></content>-->
      <content  name = "text114" id="14"></content>
      
      
      
      
      
      
      <div class="pdiv2">
   
   <div class="pdli2">
  <!-- <ul class="pdli2">
<li>Relief shipments or medicines needed on-site quickly</li>
      <li>Autonomous logistics within corporate structures or facilities (micro logistics)</li>
      <li>Transportation network or logistics for last-mile delivery of critical components or raw material</li>
      <li>Document delivery</li>
      
      </ul>-->


          <content  name = "lowerblock15" id="15"></content>
          </div>

          <content name="packagedeliveryimage1263" id="63">   </content>
          <!--<div class="img_foot_package_div"><img src="images/pd_img1.png" alt="#"></div>-->

          <div class="clear"></div>

   
   </div>
   
   
   
   
   
 
 
  
  </div>


   
   </div>
   
   </div>
   
   </div>
   
   </div>

