<div class="container-fluid gellary_top_block">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="event_bannersloderbox">


<div class="event_bannerbg"><img src="images/gellary_banner.png" alt="#"></div>

<div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
<div class="logo">
 <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
 </div>

<img src="images/gellary_banner_text.png" alt="#" class="gellary_bannertext">

    <img src="images/gellary_banner_drone.png" alt="#" class="event_bannerdrone">

</div>

</div>
</div>
</div>
<div class="plan_toptext1  contact_body_container">Choose an jungledrones Subscription</div>

<div class="container-fluid plan_toptext2"> <span>Limited time offer: Get 10 free jungledrones images.</span> <a href="javascript:void(0)"> sTart Now </a></div>


<div class="container plan_toptext3">

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 plannblock2" ng-if="productlist.length>0" ng-repeat="item in productlist">
<div class="planbox2wrapper" >
<h2>{{item.plan_image_counter}} images a {{item.intervaltype}}  </h2>

    <h3><span>US$</span> {{item.price}} <span>/{{item.shortintervaltype}} </span> </h3>


    <div class="plannewtextdiv">

        <strong ng-bind-html="trustAsHtml(item.product_desc)"></strong>

    </div>


 <a href="javascript:void(0)" ng-click="plantaddtocart(item.id)" class="planbuybtn"> BUY NOW  </a>

</div>

</div>

<!--
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 plannblock2">
<div class="planbox2wrapper">
<h2>10 images a month </h2>
<h3><span>US$</span> 00 <span>00/mo
 </span> </h3>

<div class="plannewtextdiv"> 

<strong>Annual plan, paid monthly</strong>
<ul>
       <li> Your first month will be refunded</li>
       <li> Additional images at US$0.00</li>
       <li> Rollover up to 120 images</li>
        
      </ul>  
</div>

 <a href="javascript:void(0)" class="planbuybtn"> BUY NOW  </a>

</div>

</div>

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 plannblock3">
<div class="planbox2wrapper">
<h2>10 images a month </h2>
<h3><span>US$</span> 00 <span>00/mo </span> </h3>

<div class="plannewtextdiv"> 

<strong>Monthly plan</strong>
<ul>
       <li>    Additional images at US$0.00</li>
        <li>   Rollover up to 120 images</li>
        
      </ul>  
</div>

 <a href="javascript:void(0)" class="planbuybtn"> BUY NOW  </a>

</div>

</div>


<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 plannblock4">

<div class="planbox2wrapper">
<h2>750 images a month </h2>
<h3><span>US$</span> 000 <span>00/mo
 </span> </h3>

<div class="plannewtextdiv"> 

<select class="formcontrolplan">
<option>Annual plan, paid monthly</option>
<option>Annual plan, paid monthly</option>
<option>Annual plan, paid monthly</option>
</select>
<ul>
       <li> Additional images at US$0.99</li>
        
      </ul>  
</div>

 <a href="javascript:void(0)" class="planbuybtn"> BUY NOW  </a>

</div>
</div>
-->



<div class="clearfix"></div>

</div>


<div class="container plan_toptext4">
<h3>Get  Jungle Drones for Your Team</h3>
<a href="javascript:void(0)" class="planlink4">Team Plans </a>

<h5>Buying for a larger organization?</h5>
<h6>Call <a href="javascript:void(0)">000-000-0000</a> or <a href="javascript:void(0)">request a consultation</a> to learn more about Jungle Drones for enterprise.</h6>

</div>