<div class="container-fluid event_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/productnew-banner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/ordertext.png" alt="#" class="event_bannertext">

                <img src="images/events_banner_drone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>


<div class="container newproductwrapper">
   <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 successwrapper" >
     
     <h2><span>Order Successful!</span></h2>
     
      <img src="images/orderimg.png" alt="#">
      
      <h3>Your order has been Successfully placed</h3>
      <div class="orderdevider"></div>
      
      <h4>Thank you for placing your order. we will get back to you soon</h4>
      
      </div> 
      
     
  </div>
  
   </div>