<div class="container-fluid event_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><!--<img src="images/tourismbannerimg.png" alt="#">--><content name='tourismmainbanner1126' id='126' > </content></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                 <div class="contact_bannertextedit"><!--<img src="images/tourismbannertext.png" alt="#">--> <content name='tourismbannertextedit1127' id='127' > </content></div>

                 <div class="event_bannerdroneedit"><!--<img src="images/events_banner_drone.png" alt="#">--><content name='tourismbannerdrone128' id='128' > </content></div>

            </div>

        </div>
    </div>
</div>



<div class="clear"></div>


<div class="container contact_body_container">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 services_wrapper ">
        
       <!--  <img src="images/tourism_heading_text.png" alt="#" style="display:block; margin:0 auto; max-width:96%; margin-bottom:40px;" />-->
         
         <div class="tourism_heading_text">
         <content name='tourismheadingtext2129' id='129' > </content>
         
         <!--CAPTURE THE <span>MOMENT</span>. REPLAY THE <span>MEMORY</span><br />
         Our passion is capturing <span>great moments.</span>-->
         
         <div class="heading_devider"></div>

         
         </div>
         
        
          
          <div class="tourism_text_contain">
          
          
          <div class="tourimg1"> <content name='tourimg1130' id='130' > </content> <!--<img src="images/tourism_img1.png" alt="#"  />--></div>
          
          <content name='tourtext1131' id='131' > </content>
           
         <!--  One of the most incredible parts of taking a vacation is preserving the memories. This is such a

compelling part of the experience that there are entire industries that are centralized on this market. 

Countless counties and destinations rely heavily on their daily, weekly and monthly visitors. These 

visitors are there to capture the experience and take it back to their homes. As you have seen at 

countless theme parks and managed tourists attractions there are always the opportunities to have your 

picture taken and then preserved for a lifetime by having it printed, emailed to you or saved on disc.  

This is such a big part of the industry and this is never going to change.  Well we have done something 

incredible that will completely take this market to a whole new level.-->



<div style="clear:both;"></div>



</div>



 <div class="tourism_text_contain">


<div class="tourimg2"><!-- <img src="images/tourism_img2.png" alt="#"  /> --> <content name='tourimg2132' id='132' > </content></div>


<content name='tourtext2133' id='133' > </content>

<!--Here at Jungle Drones we have a completely new experience that will absolutely thrill vacation goers. 

What would you say to someone that had a Drone hovering overhead that was able to take a picture of 

you and your vacation fun then give it to you for life! With hundreds if not thousands of people coming 

to exotic locations on Cruise Ships to enjoy the native culture the opportunities to capture this industry 

is gigantic.-->

<div style="clear:both;"></div>
</div>



 <div class="tourism_text_contain">


<div class="tourimg3"> <content name='tourimg3134' id='134' > </content> <!--<img src="images/tourism_img3.png" alt="#"  />--></div>
<content name='tourtext3135' id='135' > </content>
<!--Let’s take a case scenario and explain how this would work right here in beautiful Belize. With our 

technology all that we have to do is take the picture, then run the transaction and it will automatically 

associate the picture number with the transaction. Then we are able to send it via text or email right to 

the visitor before they even get back on the boat. We can do this for any high traffic tourism anywhere! 

And the best thing is it will ALWAYS be a huge hit. It does not matter where you are, HOW CAN YOU SAY 

NO TO A HOVERING DRONE!
-->
<div style="clear:both;"></div>
          
          </div>
        
        
<a ui-sref="contactus" class="contactlink">Contact us right away to learn more about our incredible tourism program</a>

        


        </div>


    </div>
</div>

<div class="tourism_bottom_banner"> 
<content name='tourismbottombanner136' id='136' > </content>
  <!-- <img src="images/tourism_bottom_banner.png" alt="#"  />   -->
   
   </div>