

<div class="container-fluid gellary_top_block">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="event_bannersloderbox">


                <div class="event_bannerbg"><img src="images/gellary_banner.png" alt="#"></div>

                <div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>
                <div class="logo">
                    <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>
                </div>

                <img src="images/newgalleryheading.png" alt="#" class="gellary_bannertextnew">

                <img src="images/gellary_banner_drone.png" alt="#" class="event_bannerdrone">

            </div>

        </div>
    </div>
</div>

<div class="clear"></div>




<div class="container newgalleryblocktop">
   <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     
     <div class="gallerytopleftsearch">
     <div class="stockphoto_selectoption">
     <select>
     <option>Videos</option>
      <option>Videos</option>
     </select>
     
     </div>
     
     <div class="stockphoto_inputoption">
     <input type="text" placeholder="Lorem Ipsum"  class="stockphotosearch"/>
    <input type="button"  class="stockphotobtn"/> 
          <div class="clear"></div>
     </div>
     
   
     <div class="clear"></div>
     </div>
     
     
     <a href="javascript:void(0)" class="filter_results">Filter Results</a>
     

<div class="clear"></div>

     </div>
        
     <div class="clear"></div>
     <div class="stock-video_topblock2">
     
     
     <div class="videodivclass1">
     <label>Exclude a Keyword</label>
     <input type="text" />
     
     </div>
     
     
     <div class="videodivclass2">
     
     <label>Video Type</label>
     <a href="javascript:void(0)" class="activeimgtype">Normal</a>
     
     <a href="javascript:void(0)">HD</a>
     
     </div>
     
     
     
       
     
     
     
     
     
     
     
     
     <div class="clear"></div>
     </div>
     
       <div class="stock-photo_topblock3">
       
      <div class="sptop3_block1">
       
       <p><strong>Lorem Ipsum</strong> Stock Videos  <strong>(25,122, 503 Results)</strong></p>
       
    
       
       </div>
       
       <div class="sptop3_block2">
       
       <select>
       <option>Most Popular</option>
        <option>Most Popular</option>
         <option>Most Popular</option>
       </select>
       
       <select>
       <option>Any License</option>
         <option>Any License</option>
        <option>Any License</option>
       </select>
       
       <select>
       <option>Any License</option>
        <option>Any License</option>
         <option>Any License</option>
       </select>
    
        <div class="clear"></div>
       </div>
       
        <div class="sptop3_block3">
              <a href="javascript:void(0)">Next Page</a>
        </div>
       
            <div class="clear"></div>
       </div>
     
     
     
  </div>
</div>





<div class="container-fluid  galleryimgblock">
   <div class="row">
   
   
   
   
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>

   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   
      <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>
   <div class="galleryrowvideo">
     <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12   galleryvideodiv">
      <div class="galleryblocksrc">
     <img src="images/newgallerydemoimg.png" alt="#" class="gallerysrcimg">
     
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gallerytble">
  <tr>
    <td align="right" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon3.png" alt="#"></a></td>
     <td align="left" valign="middle"> <a href="javascript:void(0)"><img src="images/stockphoto_hovericon2.png" alt="#"></a></td>
  </tr>
</table>

     </div>
     </div>
   
   </div>

     
        <div class="clearfix"></div>
        
        
        
  </div>
  
</div>      