<div class="container-fluid event_top_block">

  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div class="event_bannersloderbox">





<div class="event_bannerbg"><!--<img src="images/event_banner.png" alt="#">--> <content name='virtualrealitymainbanner145' id='145' > </content></div>



<div class="bannerbgred"><img src="images/redbg.png" alt="#"></div>

<div class="logo">

 <a href="javascript:void(0)"><img src="images/logo.png" alt="#" ></a>

 </div>

    <div class="contact_bannertextedit"><content name='virtualrealitybannertextedit146' id='146' > </content><!--<img src="images/virtualreality.png" alt="#">--></div>

 <div class="event_bannerdroneedit"><content name='virtualrealitybannerdroneedit147' id='147' > </content><!-- <img src="images/events_banner_drone.png" alt="#">--></div>



   



</div>



</div>

</div>

</div>



 <div class="clear"></div>

 

 

 <div class="container-fluid contact_body_container">

 

   <div class="row">

   

   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contacttop_heading">
   
   

   <h2>
   <content name='virtualrealitytext1148' id='148' > </content>
   <!--<span>Completely Immerse </span> Yourself-->
   
   </h2>

   

   <label>
   
   <content name='virtualrealitytext2149' id='149' > </content>
   
  <!-- Experience rushing speeds with your drone through the<br />
power of virtual reality. -->

</label>

 

   </div>

   

   

   

   <div class="virtualrealityimgdiv">

   
<div  class="virtualrealityimg1">

<content name='virtualrealityimg1150' id='150' > </content>
  <!-- <img src="images/virtualreality_banner.png"  alt="#"/>-->

   </div>

   </div>

   

   <div class="virtualrealitytextdiv">

   <div class="v_text1">
   
   <content name='virtualrealitybodytext1151' id='151' > </content>
   
<!--   Over the past several years some of the biggest companies on the planet (Sony, Microsoft, Samsun, Facebook etc.) have been investing millions of dollars into virtual reality (VR). For the first time ever affordable yet extremely powerful VR headsets have finally become a reality.-->
   
   
   </div>

   

   

    <div class="v_text_left">
<content name='virtualrealitybodytext2152' id='152' > </content>
   <!-- Here at Jungle Drones we are proud to be on the cutting edge of this exciting emerging field of entertainment. Our special proprietary technology will allow our drones to shoot fully VR capable video which will allow the end user to move around the video environment in a full 360 degree basis. We are 

currently putting together a number of new camera rigs for accomplishing this amazing feat as well as developing our own VR games that will work with our framework.-->



<!--<img src="images/virtualreality_img2.png"  alt="#"/>-->
<content name='virtualrealityimg2153' id='153' > </content>


<content name='virtualrealitybodytext3154' id='154' > </content>

<!--Experts predict that as virtual reality emerges in the consumer marketplace in mid/late 2016, there will be a 'content vacuum'. In other words there will be many options for high end hardware for VR but relatively few things to do with it and limited experiences to enjoy. Jungle Drones is proud to be in the forefront of this excellent and highly profitable market niche.-->



<h2><!--Check back soon for more information on-->  <content name='virtualrealitybodytext4155' id='155' > </content></h2>

<h3><!--Jungle Drones exciting VR technology.--> <content name='virtualrealitybodytext5156' id='156' > </content></h3>



    

    </div>





    

    <div class="virtualreality_formmain">



        <form angular-validator-submit="sub1()" id="signupForm"   name="signupForm" role="form"   novalidate angular-validator>

            <div class="formblock">

                <h2>Sign up and we will contact you the minute

                    our VR technologies are live </h2>

            </div>





            <div class="formwrapper">

                <div class="form-group">

                    <label class="labeltext1">First Name</label>

                    <input type="text" class="input1 form-control" id="contact_fname" name="fname"

                           ng-model="form.fname"

                           required-message="'First name can not be blank.'"

                           required

                            >

                    <div class="clearfix"></div>





                </div>



                <div class="form-group">

                    <label class="labeltext1"> Last Name</label>

                    <input type="text" class="input1 form-control" name="lname"

                           ng-model="form.lname"

                           required-message="'Last name can not be blank.'"

                           required

                            >

                    <div class="clearfix"></div>





                </div>







                <div class="form-group">

                    <label class="labeltext1">Email</label>

                    <input type="email" class="input1 form-control" name="email"

                           ng-model="form.email"

                           required-message="'Email can not be blank.'"

                           invalid-message="'Enter valid email address.'"

                           required

                            >

                    <div class="clearfix"></div>





                </div>



                <div class="form-group">

                    <label class="labeltext1"> Telephone No</label>

                    <input type="text" class="input1 form-control" name="phone"

                           ng-model="form.phone"

                           required-message="'Telephone number can not be blank.'"

                           required

                            >

                    <div class="clearfix"></div>





                </div>


				<div class="form-group">
                                <label class="labeltext1"> Country</label>
                    <select id="country" name="country" class = "input1 form-control"
                            validate-on="blur"
                            ng-model = "form.country"
                            required-message="'Select your country.'"
                            required
                            ng-options="item.s_name for item in countrylist"
                            style="background:#fff none repeat scroll 0 0 !important;  padding: 0 0 0 0px!important;">

                        <option value="" style="padding-left:5px; ">SELECT YOUR COUNTRY</option>

                    </select>
                                <div class="clearfix"></div>


                            </div>
		
			  <div class="form-group">
                                <label class="labeltext1"> City</label>
                  <input type="text" class="input1 form-control" name="city"

                         ng-model="form.city"
                         required-message="'City can not be blank'"
                         required
                          >                  <div class="clearfix"></div>


                            </div>





                <div class="form-group" style="margin-bottom: 0px;">

                    <label class="labeltext1"> Gender</label>



                    <div class="radiobox"><section><label>Male</label>

                        <input type="radio"

                               name="gender"

                               value="male"

                               ng-model="form.gender"

                               validator = "genderValidator() === true"

                               invalid-message = "genderValidator()"

                                />

                    </section>

                        <section> <label>Female </label>

                            <input type="radio"

                                   name="gender"

                                   value="female"

                                   ng-model="form.gender"

                                   validator = "genderValidator() === true"

                                   invalid-message = "genderValidator()"

                                    />

                        </section>



                        <span class="clearfix" ng-show="gender_error" class="validationMessage" > Please select gender !!</span>

                        <div class="clearfix"></div>



                        <div class="clearfix"></div>

                    </div>

                    <div class="clearfix"></div>









                </div>



                <div class="form-group" style="margin-bottom: 0px;">



                    <label class="labeltext1">Do Own a Drone?</label>



                    <div class="radiobox">

                        <section>

                            <label>Yes</label>

                            <input type="radio"

                                   value="yes"



                                   name="drone"

                                   ng-model="form.drone"

                                   validator = "droneValidator() === true"

                                   invalid-message = "droneValidator()"





                                    />

                        </section>

                        <section>

                            <label>No</label>

                            <input type="radio"

                                   value="no"



                                   name="drone"



                                   ng-model="form.drone"

                                   validator = "droneValidator() === true"

                                   invalid-message = "droneValidator(form.drone)"





                                    />

                        </section>



                        <span class="clearfix" ng-show="drone_error" class="validationMessage" > Please select atleast one option !!</span>

                        <div class="clearfix"></div>

                    </div>

                    <div class="clearfix"></div>



                </div>





                <div class="form-group">



                    <label class="labeltext1 labeltext-line">Have you ever been to a Drone Race? </label>



                    <div class="radiobox">

                        <section><label>Yes</label><input type="radio" name="dron_race"

                                                          value="yes"

                                                          ng-model="form.dron_race"

                                                          validator = "dronraceeValidator() === true"

                                                          invalid-message = "dronraceeValidator(form.drone)"



                                /></section>

                        <section> <label>No </label><input type="radio" name="dron_race"

                                                           value="no"

                                                           ng-model="form.dron_race"

                                                           validator = "dronraceeValidator() === true"

                                                           invalid-message = "dronraceeValidator(form.drone)"

                                /></section>



                        <span class="clearfix" ng-show="dronerace_error" class="validationMessage" >Please select atleast one option!!</span>







                        <div class="clearfix"></div>



                    </div>

                    <div class="clearfix"></div>



                </div>





                <div class="form-group">

                    <label class="labeltext2"> Your Message</label>

                    <textarea class="input2" name="message"

                              ng-model="form.message"

                              required-message="'Message can not be blank'"

                              required





                            ></textarea>

                    <div class="clearfix"></div>





                </div>







            </div>



            <input type="submit" value="Get involved now" name="submit" id="signupsubmit" class="subbtn">

            <div class="clearfix"></div>

        </form>



    </div>

   

   

   <div class="clear"></div>

   </div>

   



   

 

  </div>

 </div>

 

 



